<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @pool.address %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @pool.owner %>
</p>

<%= link_to 'Edit', edit_pool_path(@pool) %> |
<%= link_to 'Back', pools_path %>
